<div class="btn-box">
    <a class="btn blue" [routerLink]="['/author']">Home</a>
    <a class="btn blue" [routerLink]="['/newquote/', author._id]">Add a quote</a>
</div>
<h3>Quotes by {{author.name}}</h3>
<table>
    <tr>
        <th>Quote</th>
        <th>Votes</th>
        <th>Actions</th>
    </tr>
    <tr *ngFor="let quote of author.quotes">
        <th>{{quote.content}}</th>
        <th>{{quote.votes}}</th>
        <th>
            <button (click)="addVote(quote, 1)">Vote up</button>
            <button (click)="addVote(quote, -1)">Vote down</button>
            <button (click)="deleteQuote(quote._id)">Delete</button>
        </th>
    </tr>
</table>